@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.main-continer {
    background-color: RGBA(0, 0, 0, 0.04);
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}


@media screen and (max-width:768px) {
    html {
        font-size: 55%;
    }

}

@media screen and (max-width:425px) {
    html {
        font-size: 45%;
    }

}

@media screen and (max-width:320px) {
    html {
        font-size: 35%;
    }

}